@page "/{Prov}/{Mang}"

@inject NavigationManager NavigationManager
@inject AppState AppState

<div class="container p-4">
    <div class="card mb-3 shadow-lg rounded-4">
        <div class="row g-0">
            <div class="col-sm-4">
                <img src="@AppState.Manga.Cover" class="card-img" alt="@AppState.Manga.Name">
            </div>

            <div class="col-sm-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <p class="display-6">
                            @AppState.Manga.Name
                        </p>
                    </h5>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            @AppState.Manga.Summary)
                        </small>
                    </p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span>Genre: </span>
                        @if (AppState.Manga?.Genre == default || AppState.Manga.Genre.Count == 0) {
                            <span>N/A</span>
                        }
                        else {
                            @foreach (var genre in AppState.Manga.Genre) {
                                <span class="badge text-bg-primary mx-1">@genre </span>
                            }
                        }
                    </li>
                    <li class="list-group-item">
                        Author: @(AppState.Manga?.Author ?? "Unknown")
                    </li>
                    <li class="list-group-item">
                        <span>Metonyms: </span>
                        @if (AppState.Manga?.Metonyms == default || AppState.Manga.Metonyms.Count == 0) {
                            <span>N/A</span>
                        }
                        else {
                            <span>@string.Join(',', AppState.Manga.Metonyms)</span>
                        }
                    </li>
                </ul>

                <div class="card-body">
                    <p class="card-text">
                        <small class="text-body-secondary">Last fetched on @AppState.Manga.LastFetch</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-md p-3">
        <div class="list-group list-group-flush rounded">
            @for (var i = 0; i < AppState.Manga.Chapters.Count; i++) {
                {
                    _chapter = (AppState.Manga.Chapters.Count - i) - 1;
                }
                <a @onclick="NavTo"
                   class="list-group-item list-group-item-action rounded @(i == 0 ? "active" : string.Empty)"
                   aria-current="@(i == 0 ? "true" : "false")">
                    <div class="d-flex w-100 justify-content-between">
                        <p>
                            @AppState.Manga.Chapters[i].Name
                        </p>
                        <small>
                            @AppState.Manga.Chapters[i].ReleasedOn
                        </small>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Prov { get; set; }

    [Parameter]
    public string Mang { get; set; }

    private int _chapter;

    private void NavTo() {
        AppState.Chapter = AppState.Manga.Chapters[_chapter];
        NavigationManager.NavigateTo($"/{Prov}/{AppState.Manga.Name}/{_chapter}");
    }

}