@using Grimoire.Providers.Interfaces

@inject NavigationManager NavigationManager
@inject AppState AppState

<div class="container p-4">
    @if (AppState.Mangas?.Count == 0 || AppState.Mangas == default) {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else {
        <div class="container pb-3">
            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade shadow-lg" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @for (var i = 0; i < AppState.Mangas.Take(5).Count(); i++) {
                        <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                            <img src="@AppState.Mangas[i].Cover" class="rounded-4" alt="@AppState.Mangas[i].Name">
                        </div>
                    }
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>

        <div class="container pt-2">
            <div class="row row-cols-1 row-cols-lg-4 g-4">
                @foreach (var manga in AppState.Mangas.Take(40)) {
                    <div class="col">
                        <div class="card h-100 shadow-sm" @onclick="() => NavTo(manga.Name)">
                            <img src="@manga.Cover" class="card-img-top" alt="@manga.Name">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <p>
                                        @manga.Name
                                    </p>
                                </h5>
                                <p class="card-text">
                                    <small class="text-body-secondary">
                                        @Truncate(manga.Summary)
                                    </small>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">Last fetched on @(manga.LastFetch.ToString("D"))</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="container pt-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div >


@code {

    [Parameter]
    public IGrimoireProvider Provider { get; set; }

    protected override async Task OnInitializedAsync() {
        if (AppState.Mangas is null or null) {
            AppState.Mangas = await Provider.FetchMangasAsync();
        }
    }

    private void NavTo(string name) {
        AppState.Manga = AppState.Mangas.FirstOrDefault(x => x.Name == name);
        NavigationManager.NavigateTo($"/{Provider.Name}/{name}");
    }

    private static string Truncate(string str) {
        return str.Length > 150 ?
            $"{str[..150]}..." : str;
    }

}